body {
  background-color: #157c9933;
  font-family: "Courier New", Courier, monospace;
  color: #00c8ffb8;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  background-color: #fff;
  border: 2px solid #000;
  margin: 20px auto;
}

.square {
  /* flex: 0 0 6.25%;
  height: 6.25%; */
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}

#clear-btn {
  padding: 10px 25px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

#clear-btn:hover {
  background-color: #d43f3f;
}

#reset-btn {
  padding: 10px 25px;
  background-color: #19cbdf;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

#reset-btn:hover {
  background-color: #2c94a0;
}
